body{
background-color:green;
}
.button1{
margin-left:50px;
}
a{
color:black;font-family:"Arial";
}
.q{
position:absolute;
right:850px;
}
h3{
background-color:green;color:black;
}
#add{
background-color:orange;
}
#color{
background-color:white;
}
.asd{
color:black;
}
form{
font-color:black;
}
#gg{
position:absolute;
right:70px;
}
#ss{
position:absolute;
right:0px;
}