<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='edit-style2.css') }}" type=text/css rel=stylesheet>
    <link href="{{ url_for('static', filename='main-style43.css') }}" type=text/css rel=stylesheet>
</head>
<body>
<form id="color" method="post" action="/add">
    Имя<input class="q" type="text" name="name"/><br>
    Фамилия<input class="q" type="text" name="second_name"/><br>
    Отчество<input class="q" type="text" name="patronymic"/><br>
    Место рождения<input class="q" type="text" name="birth_place"/><br>
    Дата рождения<input class="q" type="text" name="birth_date"/><br>
    Адрес прописки<input class="q" type="text" name="registration_adress"/><br>
    Базовое образование<input class="q" type="text" name="basic_education"/><br>
    ФИО родителей, место работы, номера телефонов<input class="q" type="text" name="full_names_of_parents_work_place_phone_number"/><br>
    Финансовое положение<input class="q" type="text" name="financial_situation"/><br>
    Временный адрес<input class="q" type="text" name="temporary_adress"/><br>
    Телефонный номер<input class="q" type="text" name="phone_number"/><br>
    Хобби и увлечения<input class="q" type="text" name="hobbies_and_interests"/><br>
    Место работы<input class="q" type="text" name="work_place"/><br>
    ИНН<input class="q" type="text" name="INN"/><br>
    Паспортные данные<input class="q" type="text" name="passport_data"/><br>
    СНИЛС<input class="q" type="text" name="SNILS"/><br>
    <button type="submit">Добавить студента</button>
</form>

</body>
</html>