<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='main-style44.css') }}" type=text/css rel=stylesheet>


</head>
<body>
<form method="post" action="/search_results">
    <div id="add"> <input type="text" name="word" id="gg" placeholder="Поиск"/></div>

    <button type="submit" id="ss">Найти</button>
    </form>
</div>
<h3>Список выпускников</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Отчество</th>
        <th scope="col">Место рождения</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Адрес прописки</th>
        <th scope="col">Базовое образование</th>
      <th scope="col">ФИО родителей, место работы, номера телефонов</th>
      <th scope="col">Финансовое положение</th>
        <th scope="col">Временный адрес</th>
      <th scope="col">Номер телефона</th>
      <th scope="col">Хобби и интересы</th>
        <th scope="col">Место работы</th>
      <th scope="col">ИНН</th>
      <th scope="col">Паспортные данные</th>
        <th scope="col">СНИЛС</th>
    </tr>
  </thead>
  <tbody>
  {% for student in pages.items %}
  <tr>
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.second_name }}</td>
      <td>{{ student.patronymic }}</td>
      <td>{{ student.birth_place }}</td>
      <td>{{ student.birth_date }}</td>
      <td>{{ student.registration_adress }}</td>
      <td>{{ student.basic_education }}</td>
      <td>{{ student.full_names_of_parents_work_place_phone_number }}</td>
      <td>{{ student.financial_situation }}</td>
      <td>{{ student.temporary_adress }}</td>
      <td>{{ student.phone_number }}</td>
      <td>{{ student.hobbies_and_interests }}</td>
      <td>{{ student.work_place }}</td>
      <td>{{ student.INN }}</td>
      <td>{{ student.passport_data }}</td>
      <td>{{ student.SNILS }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

<nav>
  <ul class="pagination">
    <li {% if pages.has_prev %} class="disabled">
        {% endif %}
      <a class="page-link" href="./main?page={{ pages.prev_num }}" aria-label="Previous"  >Previous</a>
    </li>

      {% for page in pages.iter_pages() %}
        <li {% if page == pages.page %} class="page-item active" {% endif %}>
            <a class="page-link" href="./main?page={{ page }}">{{ page }}</a></li>
      {% endfor %}

      <li {% if pages.has_next %} class="disabled">
        {% endif %}
      <a class="page-link" href="./main?page={{ pages.next_num }}" aria-label="Next">Next</a>
    </li>
  </ul>
</nav>

<form method="post" action="/addpage">
    <button class="button1" type="submit" name="knopka">Добавить студента</button>
</form>


{%  for student in pages.items %}
<div>

    <a href="/edit/{{ student.id }}">Редактировать</a>
<form method="post" action="/deleta">
    <input type="hidden" name="id" value="{{student.id}}">
    <button class="button1" type="submit" name="knopka">Удалить</button>
</form>
</div>
{% endfor %}

<form method="post" action="/registration">
    <button class="button1" type="submit" name="knopka">Регистрация</button>
</form>

</body>
</html>