{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
welcome, {{ name }}, govnyuk
<h3>Список выпускников</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
        <th scope="col">Место рождения</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Адрес прописки</th>
        <th scope="col">Базовое образование</th>
      <th scope="col">ФИО родителей, место работы, номера телефонов</th>
      <th scope="col">Финансовое положение</th>
        <th scope="col">Временный адрес</th>
      <th scope="col">Номер телефона</th>
      <th scope="col">Хобби и интересы</th>
        <th scope="col">Место работы</th>
      <th scope="col">ИНН</th>
      <th scope="col">Паспортные данные</th>
        <th scope="col">СНИЛС</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
  <tr>
      <td>{{ student.second_name }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.patronymic }}</td>
      <td>{{ student.birth_place }}</td>
      <td>{{ student.birth_date }}</td>
      <td>{{ student.registration_adress }}</td>
      <td>{{ student.basic_education }}</td>
      <td>{{ student.full_names_of_parents_work_place_phone_number }}</td>
      <td>{{ student.financial_situation }}</td>
      <td>{{ student.temporary_adress }}</td>
      <td>{{ student.phone_number }}</td>
      <td>{{ student.hobbies_and_interests }}</td>
      <td>{{ student.work_place }}</td>
      <td>{{ student.INN }}</td>
      <td>{{ student.passport_data }}</td>
      <td>{{ student.SNILS }}</td>
      <td><a href="/edit/{{ student.id }}">Редактировать</a></td>
      <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Удалить
  </button></td>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Вы уверены, что хотите удалить студента {{ student.name }} {{ student.second_name }}?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->


        <!-- Modal footer -->
        <div class="modal-footer">
          <form method="post" action="/del_yes">
                <input type="hidden" name="id" value="{{ student.id }}">
                <button class="btn btn-danger" type="submit">Да</button>
            <button action="/main" type="button" class="btn btn-danger" data-dismiss="modal">Нет</button>
          </form>
        </div>

      </div>
    </div>
  </div>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}

