{% extends "base.html" %}

{% block title %}
{% if student %}
  Редактирование данных студента {{ student.name }} {{ student.surname }}
  {% else %}
  Добавление нового студента
  {% endif %}
{% endblock %}

{% block extrahead %}
<style>
  img.studentimage {border: solid silver 1px;}
</style>
{% endblock %}

{% block maincol %}
<form action="{{ url_for('save') }}" method="post" enctype="multipart/form-data">
<div class="col-sm">
<h2>
  {% if student %}
  Редактирование данных студента {{ student.name }} {{ student.surname }}
  {% else %}
  Добавление нового студента
  {% endif %}
</h2>
  <div id="msg"></div>
  {% if student %} <input value="{{student.id}}" name="id" type="hidden"> {% endif %}
  <div class="form-group">
    <label for="surname">{% if student %}Фамилия{% endif %}</label>
    <input type="text" required name="surname" class="form-control" id="surname" {% if student %}value="{{ student.surname }}"{% else %}placeholder="Фамилия"{% endif %} >
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput18">{% if student %}Имя{% endif %}</label>
    <input type="text" required name="name" class="form-control" id="formGroupExampleInput18" {% if student %}value="{{ student.name }}"{% else %}placeholder="Имя"{% endif %}>
  </div>
  <div class="form-group">
    <label for="patronymic">{% if student %}Отчество{% endif %}</label>
    <input type="text" name="patronymic" class="form-control" id="patronymic" {% if student %}value="{{ student.patronymic }}"{% else %}placeholder="Отчество"{% endif %}>
  </div>
  <div class="formgroup">
    <input id="file-picker" type="file" name="image" accept="image/*" multiple>
    {% if student %}{% if student.image %}<img class="studentimage" src="{{ student.image }}" width="100" height="100"> {% endif %}{% endif %}
  </div>
  <div class="form-group">
    <label for="birth_place">{% if student %}Место рождения{% endif %}</label>
    <input type="text" name="birth_place" class="form-control" id="birth_place" {% if student %}value="{{ student.birth_place }}"{% else %}placeholder="Место рождения"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput6">Дата рождения</label>
    <input type="date" name="birth_date"  id="formGroupExampleInput6" min="1970-01-01" {% if student %}value="{{ student.birth_date }}"{% else %}placeholder="Дата рождения"{% endif %}>
  </div>
  <div class="form-group">
    <select name="grp_id">
      {% for g in groups %}
        {% if student.grp_id == 0 %}<option  value="{{ g.id }}" {% if g.name=="неизвестно" %}selected{% endif %}>{{ g.name }}</option>{% endif %}
        {% if student.grp_id != 0 %}<option  value="{{ g.id }}" {% if g.id==student.grp_id %}selected{% endif %}>{{ g.name }}</option>{% endif %}
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput8">{% if student %}ID people{% endif %}</label>
    <input type="text" name="id_people" class="form-control" id="formGroupExampleInput8" {% if student %}value="{{ student.id_people }}"{% else %}placeholder="ID people"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput9">{% if student %}Профили соцсетей{% endif %}</label>
    <input type="text" name="social_web_profile" class="form-control" id="formGroupExampleInput9" {% if student %}value="{{ student.social_web_profile }}"{% else %}placeholder="Профили соцсетей"{% endif %}>
  </div>
</div>
<div class="col-sm">
  <div class="form-group">
    <label for="formGroupExampleInput10">{% if student %}Тема дипломной работы{% endif %}</label>
    <input type="text" name="thesis_topic" class="form-control" id="formGroupExampleInput10" {% if student %}value="{{ student.thesis_topic }}"{% else %}placeholder="Тема дипломной работы"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput11">{% if student %}Научный руководитель{% endif %}</label>
    <input type="text" name="advisor" class="form-control" id="formGroupExampleInput11" {% if student %}value="{{ student.advisor }}"{% else %}placeholder="Научный руководитель"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput12">Дата защиты</label>
    <input type="date" name="date_of_defense"  id="formGroupExampleInput12" min="1970-01-01"  {% if student %}value="{{ student.date_of_defense }}"{% else %}placeholder="Дата защиты"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput13">Дата отчисления</label>
    <input type="date" name="date_of_discharge"  id="formGroupExampleInput13" min="1970-01-01"  {% if student %}value="{{ student.date_of_discharge }}"{% else %}placeholder="Дата отчисления"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput14">{% if student %}Причина отчисления{% endif %}</label>
    <input type="text" name="reason_of_discharge" class="form-control" id="formGroupExampleInput14" {% if student %}value="{{ student.reason_of_discharge }}"{% else %}placeholder="Причина отчисления"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput15">{% if student %}Пол{% endif %}</label>
    <input type="text" name="sex" class="form-control" id="formGroupExampleInput15" {% if student %}value="{{ student.sex }}"{% else %}placeholder="Пол"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput16">{% if student %}ID национальности{% endif %}</label>
    <input type="text" name="id_nationality" class="form-control" id="formGroupExampleInput16" {% if student %}value="{{ student.id_nationality }}"{% else %}placeholder="ID национальности"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput17">{% if student %}Старая фамилия{% endif %}</label>
    <input type="text" name="old_surname" class="form-control" id="formGroupExampleInput17" {% if student %}value="{{ student.old_surname }}"{% else %}placeholder="Старая фамилия"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput19">{% if student %}Старое имя{% endif %}</label>
    <input type="text" name="old_name" class="form-control" id="formGroupExampleInput19" {% if student %}value="{{ student.old_name }}"{% else %}placeholder="Старое имя"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput20">{% if student %}Старое отчество{% endif %}</label>
    <input type="text" name="old_patronymic" class="form-control" id="formGroupExampleInput20" {% if student %}value="{{ student.old_patronymic }}"{% else %}placeholder="Старое отчество"{% endif %}>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput21">Дата поступления</label>
    <input type="date" name="date_in"  id="formGroupExampleInput21" min="1970-01-01"  {% if student %}value="{{ student.date_in }}"{% else %}placeholder="Дата поступления"{% endif %}>
  </div>
    <input type="submit" class="btn btn-primary" value="Подтвердить">
    <button type="cancel" class="btn btn-primary">Отмена</button>
  </div>
</form>
{% endblock %}